<div class="no-print">
<a href="{% url 'crm:list' %}">File List</a>
| <a href="{% url 'crm:booking-list' %}">Draft</a>
| <a href="{% url 'crm:report-waiting' %}">Waiting for Approve</a>
| <a href="{% url 'crm:report-approved' %}">Already Approve</a>
| <a href="{% url 'crm:report-approved-summary' %}">Approved Summary</a>
| <a href="{% url 'crm:booking-search' %}">Search</a>
| <a href="{% url 'crm:report-noinvoice' %}">No Invoice</a>
| <a href="{% url 'crm:report-notaccept' %}">Pendding Accept</a>
</div>
