{% extends "base.html" %}
{% load system_tag %}

{% block head %}
{% endblock head %}

{% block title %}
    Booking List
{% endblock %}


{% block style %}
<style>
    @media print {
     /* styles go here */
         @page {                
            size: A4;
            margin: 15 mm;
          }

          html, body {
            width: 1024px;
          }

          body {
            margin: 0 auto;
            line-height: 1em;
            word-spacing:1px;
            letter-spacing:0.2px;
            font: 14px "Times New Roman", Times, serif;
            background:white;
            color:black;
            width: 100%;
            float: none;
          }


                  a[href]:after {
            content: none !important;
          }

        .no-print, .no-print *
            {
                display: none !important;
            }

/*        {
          table { page-break-after:auto }
          tr    { page-break-inside:avoid; page-break-after:auto }
          td    { page-break-inside:avoid; page-break-after:auto }
          thead { display:table-header-group }
          tfoot { display:table-footer-group }
        }*/

        /*table {page-break-after:always}*/

        .page-break, .page-break *
        {
        	page-break-after:always
        }

    }
</style>
{% endblock style %}

{% block content %}
<div class="container">
	<div class="row">

		<div class="no-print">
				<h3>{{ object.name|filename }}</h3>
					 	Remark :{{ object.remark }}<br>
					 	Created on:{{ object.created_date }}
					 	
		
			<hr/>
					 	<h3>Process File.</h3>
					 	Process : {{ object.uploaded }} <br>
					 	Process on :{{ object.upload_date }} <br>
					 	<br>

            {% if perms.bookingfile.can_upload_file %}
  					 	{% if not object.uploaded %}
  					 		<a href="{% url 'crm:process' object.slug %}"><button type="button" class="btn btn-primary">Process</button></a>
  					 	{% endif %}
            {% endif %}



				  {% if object.booking_set and perms.bookingfile.can_upload_file %}
					<a href="{% url 'crm:delete' object.slug %}"><button type="button" class="btn btn-danger">Delete Booking File</button></a>
          {% endif %}

					{% if object.booking_set.count and perms.booking.can_modify_vip %}
					<a href="{% url 'crm:vip' object.slug %}"><button type="button" class="btn btn-primary">Calulate VIP Charge</button></a>
					{% endif %}
      		</div>
      		<hr/>
      		{% for object in object.booking_set.all %}
      			
      			{% include "crm/booking_snippet.html" %}
            <hr>
      			<div class="page-break">
      			</div>
      		{% endfor %}
	   

	</div>
</div>
{% endblock content %}


{% block java_content %}
<script>
	$(document).ready(function(){
		$("table tbody th, table tbody td").wrapInner("<div></div>");
	}
	);
</script>
{% endblock java_content %}