
						
						<div class="row">
							<div>
								<br><br>
								<!-- <h2>{{ object.company}} </h2> -->
								{% if object.company.name == 'LCB1' %}
									<img src="/static/images/lcb1.png">
								{% else %}
									<img src="/static/images/lcmt.png">
								{% endif %}
								<hr>
							</div>
							<div class="col-xs-6 col-sm-6">
								<h3>
									Booking/BL number : {{ object.name}}<br>
									Invoice :
									{% if perms.crm.can_modify_invoice %}
										<a href="{% url 'crm:booking-invoice' object.slug %}">
											{{ object.invoice|default_if_none:"[Not Assigned]" }}
										</a>
									{% else %}
										{{ object.invoice|default_if_none:"[Not Assigned]" }}
									{% endif %}
								 </h3>
							</div>

							<div class="col-xs-6 col-sm-6">
								<h3>
									SSR Code : 
									{% if perms.crm.can_modify_ssr %}
										<a href="{% url 'crm:booking-update' object.slug %}">
											{{ object.ssr_code }}
										</a>
									{% else %}
										{{ object.ssr_code }}
									{% endif %}
									<br>

								</h3>
							</div>

						</div>
						

						{% if perms.crm.can_modify_vip %}
							<div class="no-print">
								<a href="{% url 'crm:booking-vip' object.slug %}"><button type="button" class="btn btn-info">Re-calculate VIP Charge</button></a>
								<a href="{% url 'crm:booking-resetvip' object.slug %}"><button type="button" class="btn btn-warning">Reset VIP</button></a>
							</div>
						{% endif %}

						<div class="row">
							<div class="col-xs-8 col-sm-8">
								<table class="table table-hover">
									<tr class="success">
										<th>Vessel</th>
										<th>Code</th>
										<th>Voy</th>
										<th>Line</th>
										<th>Agent</th>
									</tr>
									<tr >
										<td>{{object.vessel}}</td>
										<td>{{object.vessel.code }}</td>
										<td>{{object.voy}}</td>
										<td>{{object.line}}</td>
										<td>{{object.agent}}</td>
									</tr>
									<tr >
										<td colspan="5">ETB : <i> {{object.etb}} </i></td>
									</tr>
									<tr class="success">
										<th colspan="3">Bill to</th>
										<th colspan="2">Customer</th>
									</tr>
									<tr>
										<td colspan="3">{{object.billed_to}}</td>
										<td colspan="2">{{object.customer}}</td>
									</tr>
								</table>
							</div>

							<div class="col-xs-4 col-sm-4">
								<table class="table table-hover">
									<tr class="success">
										<th>VIP Detail</th>
										<th></th>
									</tr>
									{% if object.vip %}
									<tr><td>No back charge: <b>{{ object.vip.no_back_charge }}</b></td>
										<td>Storage free: <b>{{ object.vip.storage }}</b></td>
									</tr>
									<tr><td>Lift-On: <b>{{ object.vip.lifton }}</b></td>
										<td>Re-Location: <b>{{ object.vip.reloc }}</b></td>
									</tr>
									{% endif %}
								</table>
							</div>
						</div>

						
						<div>
							<h3>Booking Summary</h3>
							<table class="table table-bordered">
								<tr>
									<th class="text-center">Container Size</th>
									<th class="text-center">Total dWell</th>
				<!-- 					<th>Charge#</th> -->
									<th class="text-center">1-7 days</th>
									<th class="text-center">8-14 days</th>
									<th class="text-center">Over 15 days</th>
									<th class="text-center">Lift-On</th>
									<th class="text-center">Re-Lo</th>
									
								</tr>
								{% for c in object.get_summary %}
									<tr>
										<td class="text-center">{{c.container_size|floatformat:"0"}}</td>
										<td class="text-center">{{c.total}}</td>
										<!-- <td>{{c.charge}}</td> -->
										<td class="text-center">{{c.rate1}}</td>
										<td class="text-center">{{c.rate2}}</td>
										<td class="text-center">{{c.rate3}}</td>
										<td class="text-center">{{c.lifton}}</td>
										<td class="text-center">{{c.reloc}}</td>
										
								</tr>
								{% endfor %}
							</table>

							<!-- {{ perms.booking }} -->
							{% if perms.crm.can_modify_extracharge  %}
								<div class="no-print">
								<a href="{% url 'crm:extra-create' object.slug %}"><button type="button" class="btn btn-warning">Create Extra Charge</button></a>
								</div>
							{% endif %}

							{% if object.extra_charge_set.count %}
							<h3>Extra Cost Charge</h3>
							<table class="table table-bordered">
								<tr>
									<th class="col-md-1">#</th>
									<th class="col-md-3 text-center">Chart type</th>
									<th class="col-md-5 text-center">Remark</th>
									<th class="col-md-1 text-center">Qty</th>
									<th class="col-md-1 no-print"></th>								
								</tr>
								{% for ex in object.extra_charge_set.all %}
									
										<tr>
											<td>{{ex.container|default_if_none:""}}</td>
											<!-- <td class="text-center">{{ex.container_size|default_if_none:""|floatformat:"0"}}</td> -->
											
											
											<td class="text-center">{{ex.charge}}</td>
											<td class="text-center">{{ex.remark}}</td>
											<td class="text-center">{{ex.qty}}</td>
											
											<td class="no-print">
												{% if perms.crm.can_modify_extracharge %}
													<a href="{% url 'crm:extra-edit' ex.slug %}">Edit</a>
													<a href="{% url 'crm:extra-delete' ex.slug %}">Delete</a>
												{% endif %}
											</td>	
																		
										</tr>
									
								{% endfor %}
							</table>
							{% endif %}

							{% if object.cancel_invoice %}
								<h3>Cancel Invoice</h3>
								<table class="table table-bordered">
									<tr>
										<th class="col-md-1">Invoice list</th>							
									</tr>
									<tr>
										<td>{{object.cancel_invoice}}</td>
									</tr>
								</table>
							{% endif %}


							<h3>Container Details</h3>
							<table class="table table-bordered">
								<tr>
									<th>#</th>
									<!-- <th>ISO</th> -->
									<th class="text-center">Size</th>
									<th class="text-center">In</th>
									<th class="text-center">Out</th>
									<th class="text-center">dWell</th>
				<!-- 					<th>Charge#</th> -->
									<th class="text-center">1-7 days</th>
									<th class="text-center">8-14 days</th>
									<th class="text-center">Over 15 days</th>
									<th class="text-center">Lift-On</th>
									<th class="text-center">Re-Lo</th>
									<th class="text-center">Extra Cost</th>
								</tr>
								{% for c in object.container_set.all %}
									<tr>
										<td>{{c.number}}</td>
										<!-- <td>{{c.iso}}</td> -->
										<td class="text-center">{{c.container_size|floatformat:"0" }}</td>
										<td class="text-center">
											<span class="text-nowrap">{{c.in_date|date:"d-m-Y"}}</span>
										</td>
										<td class="text-center">
											<span class="text-nowrap">{{c.out_date|date:"d-m-Y"}}</span>
										</td>
										<td class="text-center">{{c.dwell}}</td>
										<!-- <td>{{c.charge}}</td> -->
										<td class="text-center">{{c.rate1}}</td>
										<td class="text-center">{{c.rate2}}</td>
										<td class="text-center">{{c.rate3}}</td>
										<td class="text-center">{{c.lifton}}</td>
										<td class="text-center">{{c.reloc}}</td>
										<td class="text-center">
											{% if c.extra_charge_set.count > 0 %}
												Yes
											{% endif %}
										</td>
								</tr>
								{% endfor %}
							</table>
							<b>Remarks :</b> Approved free time 3 days
							
						</div>
				
