{% extends "base.html" %}
{% load system_tag %}

{% block head %}
{% endblock head %}

{% block title %}
    Wait approve
{% endblock %}

{% block style %}
<style>
	.table td.fit{
	    white-space: nowrap;
	    width: 1%;
	}, 
	.table th.fit {
	    white-space: nowrap;
	    width: 1%;
	}
</style>
{% endblock style %}


{% block content %}
<div class="container">
	<div class="row">
		<h3>Waiting for Approve Report</h3>

  		<div class="col-sm-12 input-daterange input-group" id="datepicker">
			<form class="form-inline">
					  <label for="exampleInputName2">Select date :</label>
					  <div class="form-group">
					    <!-- <label for="exampleInputName2">From :</label> -->
					    <input type="text" class="input-sm form-control" name="from" placeholder="{{request.GET.from}}"/>
					  </div>

					  <div class="form-group">
					    <!-- <label for="exampleInputEmail2">To</label> -->
					    <input type="text" class="input-sm form-control" name="to" placeholder="{{request.GET.to}}"/>
					  </div>

					  <div class="checkbox">
					    <select class="form-control" name="terminal">
						  <option>LCB</option>
						  <option>LCMT</option>
						</select>
					  </div>
					  <button type="submit" class="btn btn-primary">Show Report</button>
					  <!-- <button type="submit" class="btn btn-primary">Clear</button> -->
				 
			</form>
		</div>

		{{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} record(s).
		<table class="table table-bordered">
					<tr>
						<th>Name</th>
						<th>SSR#</th>
				        <th>Invoice#</th>
				        <th></th>
				        <th>Line</th>
				        <!-- <th>Agent</th> -->
				        <th>Vessel</th>
				        <th>Voy</th>
				        <th>Customer</th>
				        <th>#</th>
				        <th>dWell</th>
				        <th>Charge</th>
				        <th>Vip</th>
				        <th>Datetime</th>
				        <th>Status</th>
				      </tr>

					
						{% for b in object_list %}
						<tr>
					 	<td nowrap>
					 		<a href="{% url 'crm:booking-detail' b.slug  %}">{{ b.name }}</a>
					 	</td>
					 	
					 	{% if perms.crm.can_modify_ssr %}
						 	<td nowrap><a href="{% url 'crm:booking-update' b.slug  %}?next=
						 		{% url 'crm:booking-list' %}">{{ b.ssr_code }}</a></td>
					 	{% else %}
					 		<td nowrap>{{ b.ssr_code }}</td>
					 	{% endif %}

					 	{% if perms.crm.can_modify_invoice %}
						 	<td nowrap><a href="{% url 'crm:booking-invoice' b.slug  %}?next=
						 		{% url 'crm:booking-list' %}">{{ b.invoice|default_if_none:"" }}</a></td>
					 	{% else %}
					 		<td nowrap>{{ b.invoice|default_if_none:"" }}</td>
					 	{% endif %}

					 	<td>{{ b.company }}</td>
					 	<td>{{ b.line }}</td>
					 	<!-- <td>{{ b.agent }}</td> -->
					 	<td><span class="text-nowrap"><small>{{ b.vessel }}</small></span></td>
					 	<td>{{ b.voy }}</td>
					 	<td><small>{{ b.customer }}</small></td>
					 	<td>{{ b.container_set.count }}</td>
					 	<td>{{ b.dwell_total }}</td>
					 	<td>{{ b.charge_total }}</td>
					 	<td>
					 		{% if b.vip %}
					 			<span class="glyphicon glyphicon-ok text-success"></span>
					 		{% else %}
					 			<span class="glyphicon glyphicon-remove text-danger"></span>
					 		{% endif %}

					 	</td>
					 	<td><span class="text-nowrap">{{ b.created_date|date:"d/m H:i" }}</span></td>

					 	<td>
					 		{% if b.draft %}
					 			{% if perms.crm.can_send_approve %}
							 		<a href="{% url 'crm:booking-send-approve' b.slug %}">
							 			Send to Approve
							 		</a>
							 	{% endif %}
					 		{% endif %}
					 	</td>

					 	{% empty %}
					 		<td>No list</td>
					 	
					 	
					 	</tr>
					 	{% endfor %}
					 

				</table>
				{% if is_paginated %}
				  <ul class="pagination">
				    {% if page_obj.has_previous %}
				      <li><a href="?page={{ page_obj.previous_page_number }} 	&from={{request.GET.from}}&to={{request.GET.to}}&terminal={{request.GET.terminal}}">&laquo;</a></li>
				    {% else %}
				      <li class="disabled"><span>&laquo;</span></li>
				    {% endif %}
				    {% for i in paginator.page_range %}
				      {% if page_obj.number == i %}
				        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <li><a href="?page={{ i }}&from={{request.GET.from}}&to={{request.GET.to}}&terminal={{request.GET.terminal}}">{{ i }}</a></li>
				      {% endif %}
				    {% endfor %}
				    {% if page_obj.has_next %}
				      <li><a href="?page={{ page_obj.next_page_number }}&from={{request.GET.from}}&to={{request.GET.to}}&terminal={{request.GET.terminal}}">&raquo;</a></li>
				    {% else %}
				      <li class="disabled"><span>&raquo;</span></li>
				    {% endif %}
				  </ul>
				{% endif %}



	</div>
</div>
{% endblock content %}


{% block java_content %}
<script>
 
 $(function(){
$('.input-daterange').datepicker({
    autoclose: true,
    format:'yyyy-m-d'
});
});

  // $('select option[value="1"]').attr("selected",true);

$(document).ready(function(){
     // $('#year option[value="2018"]').prop('selected',true);
     // $('year option[value="2018"]').attr("selected",true);
     // console.log($('year').val());
     $('#year').val({{year}});
     $('#month').val({{month}});
    // $("h3").click(function(){
        
    //     alert("The paragraph was clicked.");
    // });

    $('#startDate input').datepicker({
      format:'YYYY-MM-DD',
      todayBtn: true,
      todayHighlight: true
    });

});
</script>
{% endblock java_content %}